{% extends 'base.html' %}
{% block content %}
<h1>LOGIN:{{request.user}}</h1>
    
      <div class="container">
         <table border=5px></div>


            <tr>
               <th>product name</th>
               <th>select </th>
               <th>Delete </th>
               <th>Update </th>
               
            </tr>

         </table>
      </div>
 </form>
 <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
      <script>
        
        url = 'http://localhost:8000/productlist/'
        data = {csrfmiddlewaretoken: "{{ csrf_token }}" },
        $.ajax({
           url: url,
           type:"GET",
           data: data,
           success: function appendData(data) {
              var mainContainer = document.getElementById("myData");
                        var tr;
             for (var i = 0; i < data.length; i++) {
                 tr = $('<tr/>');
                 tr.append("<td>" + data[i].pname + "</td>");
                 let id = data[i].id
                 tr.append('<td><button onclick="showDetail('+ id +')"class="btn-lg btn btn-primary">Product Detail</button></td>')
                 tr.append('<td><button onclick="Delete('+ id +')"class="btn-lg btn btn-primary" id ="Delete">product delete</button></td>')
                 tr.append('<td><button onclick="Update('+ id +')"class="btn-lg btn btn-primary" id ="formButton">Update</button></td>')
                 $('table').append(tr);

               }
             }
         })

        function showDetail(id) {
           url="http://127.0.0.1:8000/productlist/"+id+"" 
          /* data = {csrfmiddlewaretoken: "{{ csrf_token }}" },*/
           $.ajax({ 
            url:url,
            type:'GET',
           /* data:data,*/
            dataType: "json",
            success: function(data){
                  $('#ID').text(data.id);
                  $('#IMAGE').text(data.image);
                  $('#NAME').text(data.pname);
                  $('#PRICE').text(data.price);
                  $('#DETAIL').text(data.product_detail);
                  $('#SELLER').text(data.owner);
        }
      });
 }    
        function Delete(id) {
           url = "http://127.0.0.1:8000/productlist/"+id+"/destroy"
           data = {csrfmiddlewaretoken: "{{ csrf_token }}" }
             $.ajax({
                url: url,
                type:"DELETE",
                data: data,
                success: function (data)
                 {alert('product deleted')
                 window.location.reload()
              
                    
                }
              });
         }
       
 </script>
 <script>
    $(document).ready(function () {  
             $("#Save").click(function () { 
    var formData = new FormData();
    var file = $('#img')[0].files[0] 
    var token = "{{ csrf_token }}"
    var name = $('#pname').val();
    var price = $('#price').val();
    var product_detail = $('#product_detail').val();
    formData.append("image", file, file.name);
    formData.append("pname", name);
    formData.append("price", price);
    formData.append("product_detail",product_detail);
    formData.append("csrfmiddlewaretoken", token);
    url = 'http://localhost:8000/create/'
    debugger
         $.ajax({
          type: "POST",
          enctype: 'multipart/form-data',
          url:url,
          data: formData,
          processData: false,
          contentType: false,
          cache: false,
          timeout: 600000,
          success: function (data) {
            alert('product add successfully')
              console.log("SUCCESS : ", data);

          },
          error: function (data) {
            alert('something went wrong')
              console.log("ERROR : ", e);

          }
      });
     });
});
 </script>
    
<div id="jsonresp" style="margin-top: 100px">

   <p><label></label> <span id="ID"></span></p>
   <p><label></label> <span id="IMAGE"></span></p>
   <p><label></label> <span id="NAME"></span></p>
   <p><label></label> <span id="PRICE"></span></p>
   <p><label></label> <span id="DETAIL"></span></p>
   <p><label></label> <span id="SELLER"></span></p> 
</div>
<br>
<script type="text/javascript">
  $(document).ready(function() {
  $("#formButton").click(function() {
    $("#form1").toggle();
  });
});
</script>
<style type="text/css">
  {display:none;
  }
  #form1 {

display:none;

}
</style>

<button type="button" class="btn-lg btn btn-primary" id="formButton">Create user</button>
<form id='form1'>
  {% csrf_token %}
prouduct_name <br/>
<input type="text" id="pname"/>
<br/>
price <br/>
<input type="number" id="price"/>
<br/>
image
<input type="file" src="/wp-content/uploads/sendform.png"  id ='img' alt="Submit" width="100">
<br>
<br>
product detail<br/>
<input type="text" id="product_detail"/>
<p/>


<button id="Save">submit </button>
</p>
</form>
</div>
<script type="text/javascript">
  
</script>
<script type="text/javascript">
   function Update(id) {
           url = "http://127.0.0.1:8000/productlist/"+id+"/destroy"
         var dataObject = { 'newWeekEntry': newEntry, 'oldWeekEntry': oldEntry };

        alert(JSON.stringify(dataObject));

        $.ajax({
            url: URL,
            type: 'PUT',    
            data: JSON.stringify(dataObject),
            dataType: 'json',
            success: function(result) {
                alert("success?");
            }
        });

        
    }













{% endblock %}
